<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>
<div id="jsongame" style="display: none">
  <%= @game.jsongame %>
</div>
<div style="display: inline;">
  <button id="SubmitMoveButton">Submit move</button>
  <button id="CancelMoveButton">Cancel</button>
</div>
<div id="board" class="droppable">
    <div class="digit">8</div>
    <div class="letter">a</div>
</div>
