<h3>The Openings Master is a site where you can train openings for free.</h3>
<h4>Beautiful quotes about chess world:</h4>
<blockquote>
  <p>
    "You may learn much more from a game you lose than from a game you win.
    You will have to lose hundreds of games before becoming a good player."
  </p>
  <p>
    <footer><cite>Garry Kasparov</cite></footer>
  </p>
</blockquote>
<blockquote>
  <p>
    “When you see a good move, look for a better one”
  </p>
  <p>
    <footer><cite>Emanuel Lasker</cite></footer>
  </p>
</blockquote>
<blockquote>
  <p>
    “It was like when you make a move in chess and just as you take your finger off the piece,
    you see the mistake you've made,
    and there's this panic
    because you don't know yet the scale of disaster you've left yourself open to.”
  </p>
  <p>
    <footer><cite>Kazuo Ishiguro</cite></footer>
  </p>
</blockquote>

